html{
    scroll-behavior: smooth;
}

body{
    background-color: white;

}

.flex-container{
    min-height: 200px;
    min-width: 200px;
    background-color: navajowhite;
}

.flex-container h1{
    color: #402422;
    padding-top: 11%;
    font-family: 'Cinzel', bold;
    font-size: 100px;
    padding-left: 10%;
}

.flex-container p{
    color: #0D0D0D;
    font-family: 'Signika', sans-serif;
    font-size: 48px;
    line-height: 1.2em;
    padding-left: 10%;
    padding-right: 30%;
    
}



.socials{
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 3%;
    top:27%;
    margin: auto;
}

a {
    color:black;
    text-decoration: none;
    padding-bottom: 2em;
}

a:hover 
{
     color:#793431; 
     text-decoration:none; 
     cursor:pointer;
     transition: 0.4s;
}


/* Section 1 */

.section1{
    background-color: white;

}

.section1 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.section1 h2{
    text-align: center;
    color: black;
    padding-bottom: 10%;
    text-decoration: underline;
    font-size: 40px;
}




@media only screen and (width: 768px) {
    
    .flex-container h1{
        color: #402422;
        font-family: 'Cinzel', bold;
        font-size: 80px;
        padding-left: 10%;
    }
    
    .flex-container p{
        color: #0D0D0D;
        font-family: 'Signika', sans-serif;
        font-size: 30px;
        line-height: 1.2em;
        padding-left: 10%;
        padding-right: 30%;
    }
    
    
    .socials{
        display: flex;
        position: static;
        flex-direction: row;
        float: right;
        padding-top: 10%;
        margin-right: 26%;
        font-size: 13px;
    }
    
    a {
        color:black;
        text-decoration: none;
        padding-left: 3em;
    }
    
    a:hover 
    {
         color:#402422; 
         text-decoration:none; 
         cursor:pointer;  
    }

    .section1 h2{
        text-align: center;
        color: black;
        padding-bottom: 10%;
        text-decoration: underline;
        font-size: 30px;
    }

    .section1{
        margin-top: 25%;
    
    }
}

@media only screen and (max-width: 480px) {

    .flex-container h1{
        color: #402422;
        font-family: 'Cinzel', bold;
        font-size: 30px;
        padding-left: 10%;
    }
    
    .flex-container p{
        color: #0D0D0D;
        font-family: 'Signika', sans-serif;
        font-size: 20px;
        line-height: 1.2em;
        padding-left: 10%;
        padding-right: 30%;
    }
    
    
    .socials{
        display: flex;
        position: static;
        flex-direction: row;
        float: right;

        font-size: 5px;
        margin: auto;
    }
    
    a {
        color:black;
        text-decoration: none;
        padding-left: 3em;
    }
    
    a:hover 
    {
         color:#402422; 
         text-decoration:none; 
         cursor:pointer;  
    }

    .section1 h2{
        text-align: center;
        color: black;
        padding-bottom: 10%;
        text-decoration: underline;
        font-size: 20px;
    }

    .section1{
        margin-top: 20%;
    
    }

    .socials{
        display: flex;
        position: static;
        flex-direction: row;
        float: right;
        padding-right: 17%;
        font-size: 9px;

    }
    
    a {
        color:black;
        text-decoration: none;
        padding-left: 3em;
    }
    
    a:hover 
    {
         color:#402422; 
         text-decoration:none; 
         cursor:pointer;  
    }
}
